<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - DeFake</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <header class="navbar">
    <div class="logo">DeFake</div>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <% if (isAuthenticated) { %>
          <li><a href="/logout" class="btn btn-primary">Logout</a></li>
        <% } else { %>
          <li><a href="/login" class="btn btn-primary">Login</a></li>
        <% } %>
        <li><a href="/about">About</a></li>
        <li><a href="#FAQ">FAQ</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>
