    <footer class="footer">
        <div class="left-section">
            <span>DeFake</span>
        </div>
        <div class="right-section">
            <a href="#">Terms</a>
            <a href="#"><i class="fas fa-code"></i></a>
            <div class="social-icons">
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-threads"></i></a>
            </div>
        </div>
    </footer>
    <script src="/index.js"></script>
</body>
</html>
